html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10 pixeles */
}
body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Raleway", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Globales */

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #769c02;
}

/* Utilidades */

.text-center {
  text-align: center;
}

/* Header y Navegacion principal */

.nombre-sitio {
  margin-top: 5rem;
  font-weight: bold;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}

.navegacion-principal {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.navegacion-principal a {
  font-size: 1.6rem;
  position: relative;
}

.navegacion-principal a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background: #037bc0;
  transition: width 0.3s ease, left 0.3s ease;
}

.navegacion-principal a:hover::after {
  width: 100%;
  left: 0;
}

.navegacion-principal a:hover {
  color: #037bc0;
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Categorias de productos */
.categorias {
  padding: 5rem 0;
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #ffffff;
  border-bottom-right-radius: 1rem;
}

.categoria img {
  width: 100%;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Bloque sobre nosotros */

.sobre-nosotros {
  background-image: linear-gradient(to right, transparent 50%, #037bc0 50% 100%),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 160rem;
}

.contenido-sobre-nosotros {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros {
  flex-basis: 50%;
  padding: 5rem;
  padding-left: 10rem;
  color: #ffffff;
}

/* Seccion Productos */

.contenido-principal {
  padding: 5rem 0;
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.producto:nth-child(1) {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(2) {
  grid-column: 1 / 4;
}

.producto:nth-child(3) {
  grid-column: 4 / 7;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(4) {
  grid-column: 1 / 3;
}

.producto:nth-child(5) {
  grid-column: 3 / 5;
}

.producto:nth-child(6) {
  grid-column: 5 / 7;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #ffffff;
  padding: 2rem;
}

.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
  font-weight: 900;
  font-size: 2.8rem;
}

/* Footer */

.site-footer {
  border-top: 0.1rem solid #e1e1e1;
}

.site-footer p {
  text-align: center;
  margin-top: 0;
}

.grid-footer {
  display: flex;
  padding: 5rem 0;
}

.footer-menu {
  flex-basis: 33.33%;
}

.footer-menu h3 {
  margin: 0 0 0.5rem 0;
}

.footer-menu a {
  display: block;
}

.grid-footer .footer-menu:nth-child(1) {
  margin-right: 1rem;
}

.grid-footer .footer-menu:nth-child(2) {
  margin: 0 1rem;
}

.grid-footer .footer-menu:nth-child(3) {
  margin-left: 1rem;
}
