html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 2;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --fuente-principal: "Playfair Display", sans-serif;
  --fuente-secundaria: "Raleway", sans-serif;
}

/* Globales */

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  font-family: var(--fuente-principal);
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--fuente-secundaria);
}

.contenedor {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

/* Header y Navegacion principal */

.nombre-sitio {
  text-align: center;
  margin-top: 5rem;
  font-size: 5rem;
  font-weight: bold;

  span {
    color: #037bc0;
  }
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;

  .navegacion-principal {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    a {
      font-size: 1.6rem;
    }
  }
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Categorias de productos */

.categorias {
  h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
  }
  .contenedor-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.categoria {
  img {
    display: block;
  }
  a {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    display: block;
    &:hover {
      color: #ffffff;
      background-color: #037bc0;
      border-bottom-right-radius: 1rem;
    }
  }
}
